nav {
  width: 100%;
  background-color: #b93920;
  position: relative;
  top: -21px; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul::after {
      content: "";
      display: block;
      clear: both; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li:hover a {
        padding: 10px 30px 15px 30px; }
      nav ul li a {
        padding: 15px 30px;
        color: white; }
    nav ul li {
      list-style: none; }
      nav ul li:hover .submenu {
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0px;
        padding: 0px;
        z-index: 100000; }
      nav ul li a {
        display: inline-block;
        text-decoration: none; }

.submenu {
  display: none; }
  .submenu li {
    border-bottom: 1px solid #CCC; }
    .submenu li:hover a {
      color: #eee;
      font-weight: bold; }
    .submenu li a {
      padding: 15px 30px;
      font-size: 1rem;
      color: #eee;
      width: 270px; }

.menu-home:hover {
  border-top: 5px solid green;
  background-color: rgba(4, 110, 9, 0.247); }

.menu-news:hover {
  border-top: 5px solid green;
  background-color: rgba(4, 110, 9, 0.247); }

.menu-teams:hover {
  border-top: 5px solid green;
  background-color: rgba(4, 110, 9, 0.247); }

.menu-club:hover {
  border-top: 5px solid green;
  background-color: rgba(4, 110, 9, 0.247); }

.menu-medias:hover {
  border-top: 5px solid green;
  background-color: rgba(4, 110, 9, 0.247); }

.menu-contact:hover {
  border-top: 5px solid green;
  background-color: rgba(4, 110, 9, 0.247); }

.menu-teams .submenu {
  background-color: #b93920; }
  .menu-teams .submenu li:hover {
    background-color: #ac2f17; }

.menu-club .submenu {
  background-color: #b93920; }
  .menu-club .submenu li:hover {
    background-color: #ac2f17; }

header {
  position: relative;
  top: -21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h1 {
  height: 155px;
  background: #023a02; }
  h1 .logo-texte {
    position: relative;
    top: -55px;
    left: 300px; }
  h1 img {
    margin: 10px;
    position: absolute;
    left: 50px; }
  h1 a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 5px; }
    h1 a span {
      position: relative;
      top: 30px;
      left: -200px; }
  h1 .login {
    float: right;
    background-color: green;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    right: 30px; }
    h1 .login input {
      margin-right: 10px;
      margin-left: 10px;
      border: 0;
      background: transparent;
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
      font-weight: bold;
      background: #023a02; }
      h1 .login input::-webkit-input-placeholder {
        color: white;
        background: #023a02;
        padding: 5px; }
      h1 .login input:-ms-input-placeholder {
        color: white;
        background: #023a02;
        padding: 5px; }
      h1 .login input::-ms-input-placeholder {
        color: white;
        background: #023a02;
        padding: 5px; }
      h1 .login input::placeholder {
        color: white;
        background: #023a02;
        padding: 5px; }
    h1 .login .submit {
      font-size: 1rem;
      padding: 5px;
      text-decoration: none;
      margin-right: 30px;
      border-radius: 5%;
      background-color: red; }

/*nav{
    background-color: orangered;
    height: 22px;
    position: relative;
    top: -22px;
    ul{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -16px;
        width: 900px;
        li.effect{
            list-style: none;
            background-color: orangered;
            transition: background-color ease 1s;
            width: 100px;
            margin-left: -40px;
            text-align: center;
            &:hover{
                background-color: rgb(189, 54, 4);
            }
            a{
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}*/
article {
  background: #023a02;
  border: white solid 2px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: -30px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #006400;
  color: white; }

.main-contener {
  max-width: 900px;
  margin: auto; }
