header{
    position: relative;
    top: -21px;
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: rgb(2, 58, 2);
    a{
        text-decoration: none;
        color: white;
        margin-left: 10px;
        margin-top: 5px;
        span{
            position: relative;
            top: 30px;
            left: -200px;
        }
    }
    .login{
        background-color: green;
        height: 50px;
        border-radius: 10px;
        position: relative;
        top: 14px;
        right: 30px;
        input{
            margin-right: 10px;
            margin-left: 10px;
            border:0;
            background: transparent;
            padding-top: 5px;
            padding-bottom: 5px;
            color: white;
            font-weight: bold;
            background: rgb(2, 58, 2);
            &::placeholder{
                color: white;
                background: rgb(2, 58, 2);
                padding: 5px;
            }
        }
        .pseudo{
            
        } 
        .password{

        }
        .submit{
            font-size: 1rem;
            padding: 5px;
            text-decoration: none;
            margin-right: 30px;
            border-radius: 5%;
            background-color: red;
        }
    }
}

nav{
    background-color: orangered;
    height: 22px;
    position: relative;
    top: -22px;
    ul{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -16px;
        width: 900px;
        li.effect{
            list-style: none;
            background-color: orangered;
            transition: background-color ease 1s;
            width: 100px;
            margin-left: -40px;
            text-align: center;
            &:hover{
                background-color: rgb(189, 54, 4);
            }
            a{
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}