@import "_header";
@import "_article";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #006400;
    color: white;
}

.main-contener{
    max-width: 900px;
    margin: auto;
}